html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper]{
  top: 112%;
  left: -450%;
}

.dropdown-menu{
  min-width: 20rem;
  top: 110%;
  left: -450%;
}

.cart-dropdown .dropdown-menu[data-bs-popper]{
  top: 112%;
  left: -385%;
}
